getting it started.

In [116]:
import pandas as pd
from pathlib import Path

school_data_file = Path("Starter_Code/PyCitySchools/Resources/schools_complete.csv")
student_data_file = Path("Starter_Code/PyCitySchools/Resources/students_complete.csv")

school_data = pd.read_csv(school_data_file)
student_data = pd.read_csv(student_data_file)

merged_data = pd.merge(school_data, student_data, how = "left", on = ["school_name", "school_name"])
merged_data.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [117]:
# DISTRICT SUMMARY

# Calculate the total number of unique schools (2 points)
#    https://sparkbyexamples.com/pandas/pandas-count-unique-values-in-column/?expand_article=1

schools_in_district = merged_data["school_name"].nunique()
schools_in_district

15

In [118]:
# Calculate the total number of students (2 points)

total_students = merged_data["student_name"].count()
total_students

39170

In [119]:
# Calculate the total budget (2 points)

school_budget_filter = merged_data[['budget', 'school_name']].drop_duplicates()
total_budget = school_budget_filter["budget"].sum()
total_budget

24649428

In [120]:
# Calculate the average (mean) math score (2 points)

tot_math_score = merged_data["math_score"].sum()
ave_math_score = tot_math_score / total_students
ave_math_score

78.98537145774827

In [121]:
average_math_score = merged_data["math_score"].mean()
average_math_score

78.98537145774827

In [122]:
# Calculate the average (mean) reading score (2 points)

tot_read_score = merged_data["reading_score"].sum()
ave_read_score = tot_read_score / total_students
ave_read_score

81.87784018381414

In [123]:
# Use the code provided to calculate the percentage of students who passed math (2 points)

pass_math_count = merged_data[(merged_data["math_score"] >= 70)].count()["student_name"]
pass_math_percent = 100 * (pass_math_count / total_students)
pass_math_percent

74.9808526933878

In [124]:
# Calculate the percentage of students who passed reading (2 points)

pass_read_count = merged_data[(merged_data["reading_score"] >= 70)].count()["student_name"]
pass_read_percent = 100 * (pass_read_count / total_students)
pass_read_percent

85.80546336482001

In [125]:
# Use the code provided to calculate the percentage of students that passed both math and reading (2 points)

pass_math_read_count = merged_data[(merged_data["math_score"] >= 70) & (merged_data["reading_score"] >= 70)].count()["student_name"]
pass_math_read_percent = 100 * (pass_math_read_count /  total_students)
pass_math_read_percent

65.17232575950983

In [126]:
# Create a new DataFrame for the above calculations called district_summary (4 points)
#    https://www.youtube.com/watch?v=1kpnp4HMIv0
#    bcs memi
district_summary = pd.DataFrame({
    'Total Schools':[schools_in_district],
    'Total Students':[total_students],
    'Total Budget':[total_budget],
    'Average Math Score':[ave_math_score],
    'Average Reading Score':[ave_read_score],
    '% Passing Math':[pass_math_percent],
    '% Passing Reading':[pass_read_percent],
    '% Overall Passing':[pass_math_read_percent]
})

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [127]:
# SCHOOL SUMMARY

# Use the code provided to select the school type (2 points)

school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [128]:
# Calculate the total student count per school(2 points)

students_per_school = merged_data[["school_name"]].value_counts()
students_per_school

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
dtype: int64

In [129]:
# Use the code provided to calculate the per capita spending (2 points)

#out = df.groupby('year')['operation'].value_counts ??

budget_capita = merged_data["school_name"].value_counts()
#budget_capita_df = pd.DataFrame(budget_capita)
#budget_capita_df["per capita"] = budget_capita_df["budget"] / budget_capita_df[""]
#school_budget_capita = budget_capita.loc["budget"]/students_per_school

#budget_capita_df["per capita"] = budget_capita["budget"] / budget_capita["0"]
budget_capita

#school_budget = merged_data.groupby(["school_name"])["budget"].mean()
#school_budget["per capita"] = school_budget[1]/students_per_school[1]

school_budget = merged_data.groupby(["school_name"])["budget"].mean()
#school_budget = pd.DataFrame
#school_budget["per capita"] = school_budget[1]/students_per_school[1]
school_budget

per_capita = school_budget / budget_capita
per_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [130]:
# Calculate the average test scores per school(2 points)

per_school_math = merged_data.groupby('school_name')['math_score'].mean()
per_school_read = merged_data.groupby('school_name')['reading_score'].mean()
#per_school_test_scores = pd.DataFrame({"school name": {school_name}, "average math score": {per_school_math}, "average reading score": {per_school_read}})
#per_school_read

In [131]:
# Calculate the number of schools with math scores of 70 or higher (2 points)

pass_math_count_school = merged_data[(merged_data["math_score"] >= 70)]
pass_math_count_school_final = pass_math_count_school.groupby(["school_name"]).size()

#merged_data.groupby('school_name')['math_score'].aggregate(['math_score' >= 70])
#[merged_data.loc["math_score"] >= 70].count()
#pass_math_percent_school = 100 * (pass_math_count_school / students_per_school)
pass_math_count_school_final

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [132]:
# Calculate the number of schools with reading scores of 70 or higher (2 points)

pass_read_count_school = merged_data[(merged_data["reading_score"] >= 70)]
pass_read_count_school_final = pass_read_count_school.groupby(["school_name"]).size()
pass_read_count_school_final
#pass_read

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [133]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher (2 points)

students_passing_math_and_reading = merged_data[
    (merged_data["reading_score"] >= 70) & (merged_data["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [134]:
# Use the provided code to calculate the passing rates (2 points)

school_passing_math_percent = pass_math_count_school_final / students_per_school * 100
school_passing_math_percent

(Bailey High School,)      NaN
(Cabrera High School,)     NaN
(Figueroa High School,)    NaN
(Ford High School,)        NaN
(Griffin High School,)     NaN
(Hernandez High School,)   NaN
(Holden High School,)      NaN
(Huang High School,)       NaN
(Johnson High School,)     NaN
(Pena High School,)        NaN
(Rodriguez High School,)   NaN
(Shelton High School,)     NaN
(Thomas High School,)      NaN
(Wilson High School,)      NaN
(Wright High School,)      NaN
Bailey High School         NaN
Cabrera High School        NaN
Figueroa High School       NaN
Ford High School           NaN
Griffin High School        NaN
Hernandez High School      NaN
Holden High School         NaN
Huang High School          NaN
Johnson High School        NaN
Pena High School           NaN
Rodriguez High School      NaN
Shelton High School        NaN
Thomas High School         NaN
Wilson High School         NaN
Wright High School         NaN
dtype: float64

In [140]:
school_passing_read_percent = pass_read_count_school_final / students_per_school * 100
school_passing_read_percent

(Bailey High School,)      NaN
(Cabrera High School,)     NaN
(Figueroa High School,)    NaN
(Ford High School,)        NaN
(Griffin High School,)     NaN
(Hernandez High School,)   NaN
(Holden High School,)      NaN
(Huang High School,)       NaN
(Johnson High School,)     NaN
(Pena High School,)        NaN
(Rodriguez High School,)   NaN
(Shelton High School,)     NaN
(Thomas High School,)      NaN
(Wilson High School,)      NaN
(Wright High School,)      NaN
Bailey High School         NaN
Cabrera High School        NaN
Figueroa High School       NaN
Ford High School           NaN
Griffin High School        NaN
Hernandez High School      NaN
Holden High School         NaN
Huang High School          NaN
Johnson High School        NaN
Pena High School           NaN
Rodriguez High School      NaN
Shelton High School        NaN
Thomas High School         NaN
Wilson High School         NaN
Wright High School         NaN
dtype: float64

In [139]:
overall_passing_rate = school_students_passing_math_and_reading / students_per_school * 100
overall_passing_rate

(Bailey High School,)      NaN
(Cabrera High School,)     NaN
(Figueroa High School,)    NaN
(Ford High School,)        NaN
(Griffin High School,)     NaN
(Hernandez High School,)   NaN
(Holden High School,)      NaN
(Huang High School,)       NaN
(Johnson High School,)     NaN
(Pena High School,)        NaN
(Rodriguez High School,)   NaN
(Shelton High School,)     NaN
(Thomas High School,)      NaN
(Wilson High School,)      NaN
(Wright High School,)      NaN
Bailey High School         NaN
Cabrera High School        NaN
Figueroa High School       NaN
Ford High School           NaN
Griffin High School        NaN
Hernandez High School      NaN
Holden High School         NaN
Huang High School          NaN
Johnson High School        NaN
Pena High School           NaN
Rodriguez High School      NaN
Shelton High School        NaN
Thomas High School         NaN
Wilson High School         NaN
Wright High School         NaN
dtype: float64

In [138]:
# Create a new DataFrame for the above calculations called per_school_summary (4 points)

per_school_summary = pd.DataFrame({
    'School Type':[school_types],
    'Total Students':[students_per_school],
    'Total School Budget':[school_budget],
    'Per Student Budget':[per_capita],
    'Average Math Score':[per_school_math],
    'Average Reading Score':[per_school_read],
    '% Passing Math':[school_passing_math_percent],
    '% Passing Reading':[school_passing_read_percent],
    '% Overall Passing':[overall_passing_rate]
})

#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("{:,}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,school_name Bailey High School ...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,"(Bailey High School,) NaN (Cabrera High S...","(Bailey High School,) NaN (Cabrera High S...","(Bailey High School,) NaN (Cabrera High S..."

highest performing schools

Sort the schools by % Overall Passing in descending order (2 points)

Save the results to a DataFrame called top_schools (2 points)

Display the first 5 rows (1 point)

lowest performing schools

Sort the schools by % Overall Passing in ascending order (2 points)

Save the results to a DataFrame called bottom_schools (2 points)

Display the first 5 rows (1 point)

math scores by grade

Use the code provided to separate the data by grade (1 points)

Group by "school_name" and take the mean of each (4 points)

Use the code to select only the math_score (1 points)

Combine each of the scores above into single DataFrame called math_scores_by_grade (4 points)

reading scores by grade

Use the code provided to separate the data by grade (1 points)

Group by "school_name" and take the mean of each (4 points)

Use the code to select only the reading_score (1 points)

Combine each of the scores above into single DataFrame called reading_scores_by_grade (4 points)

scores by school spending

Use pd.cut with the provided code to bin the data by the spending ranges (2 points)

Use the code provided to calculate the averages (1 points)

Create the spending_summary DataFrame using the binned and averaged spending data (2 points)

In [ ]:
# Create a table that breaks down school performance based on average spending ranges (per student).
# Use the code provided below to create four bins with reasonable cutoff values to group school spending.
# spending_bins = [0, 585, 630, 645, 680]
# labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Use pd.cut to categorize spending based on the bins.
# Use the following code to then calculate mean scores per spending range.

# spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()

# spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()

# spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()

# spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()

# overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

# Use the scores above to create a DataFrame called spending_summary.
# Include the following metrics in the table:
# •	Average math score
# •	Average reading score
# •	% passing math (the percentage of students who passed math)
# •	% passing reading (the percentage of students who passed reading)
# •	% overall passing (the percentage of students who passed math AND reading)

scores by school size

Use pd.cut with the provided code to bin the data by the school sizes (2 points)

Use the code provided to calculate the averages (1 points)

Create the size_summary DataFrame using the binned and averaged size data (2 points)

In [ ]:
# Use the following code to bin the per_school_summary.

# size_bins = [0, 1000, 2000, 5000]

# labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
# Use pd.cut on the "Total Students" column of the per_school_summary DataFrame.
# Create a DataFrame called size_summary that breaks down school performance based on school size (small, medium, or large).

scores by school type

Group the per_school_summary DataFrame by "School Type" and average the results (2 points)

Use the code provided to select the new column data (1 point)

Create a new DataFrame called type_summary that uses the new column data (2 points)

In [ ]:
# Use the per_school_summary DataFrame from the previous step to create a new DataFrame called type_summary.
# This new DataFrame should show school performance based on the "School Type".